* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav > ul {
  display: flex;
  gap: 20px;
}
nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
nav > ul > li > a:hover {
  text-decoration: none;
  color: rgb(254, 162, 50);
}

.nav > button {
  padding: 10px 20px;
  background-color: #f9735b;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 500;
}

.bars {
  display: none;
}

.heroSection {
  background-image: url("https://plus.unsplash.com/premium_photo-1661301057249-bd008eebd06a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Z3ltfGVufDB8fDB8fHww");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  color: rgb(0, 0, 0);
}
.heroContent h3 {
  font-size: 100px;
  font-variant: small-caps;
}
.heroBtn {
  padding: 20px 40px;
  background-color: #f9735b;
  border: none;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.heroContent button:hover {
  padding: 20px 60px;
  background-color: #000000;
  border: none;

  color: white;
  transition: all 0.3 ease;
}
.about {
  display: flex;
  flex-direction: column;
  height: auto;
}
.aboutSection {
  padding: 80px 0;
}
.sectionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 50%;
  margin: auto;
  align-items: center;
}
.sectionHeader > h2 {
  text-align: center;
}
.sectionHeader > p {
  color: darkgrey;

  text-align: center;
}
.aboutGrids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px 0;
  margin: auto;
  max-width: 80%;
  gap: 30px;
}
.aboutGrid {
  display: flex;
  gap: 30px;
}
.coverDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.coverDesc > p {
  color: darkgray;
}
.coverDesc > a {
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
  color: #f9735b;
}

.ads {
  height: 400px;
  border: 2px solid #000000;
  background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg");
}
.adsContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 50%;
  margin: auto;
  align-items: center;
  padding-top: 8%;
}
.adsContent h2 {
  color: white;
  font-size: 52px;
  font-variant: small-caps;
}
.adsContent p {
  color: rgb(221, 221, 221);
  text-align: center;
}
.adsBtn {
  background-color: #f9735b;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  border: none;
}
.adsBtn:hover {
  background-color: #f4573b;
}
.classes {
  margin: 100px 0;
}
.mainClasses {
  display: flex;
  padding: 30px 0;
  max-width: 80%;
  margin: auto;

  gap: 70px;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.card {
  display: flex;
  /* width: 400px; */
  box-shadow: -1px -2px 22px -4px rgba(177, 177, 177, 0.4);
  padding: 30px 30px;
  border-radius: 8px;
  gap: 15px;
}
.SpecialCard {
  background-color: #f9735b;
  padding: 30px 30px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}
.SpecialCard:hover {
  background-color: #f4573b;
}
.post {
  width: 100%;
}
.postImg > img {
  border-radius: 8px;
}
.postContent {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: self-start;
}

.postContent > p {
  color: darkgray;
  line-height: 25px;
}

.schedule {
  background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

.scheduleSection {
  max-width: 80%;
  margin: auto;
  color: white;
}

.scheduleTabs > ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

.scheduleTabs > ul > li {
  list-style: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}

.scheduleTabs > ul > .active {
  color: #f9735b;
}

.scheduleTable {
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tableRow:last-child {
  border-bottom: none;
}

.tableCol {
  padding: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.tableCol:last-child {
  border-right: none;
}

.trainers {
  padding: 100px 0;
  background-color: #f7f7f7;
}

.trainersSection {
  max-width: 80%;
  margin: auto;
}

.trainerCards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 30px;
}

.trainerCard {
  width: 33.33%;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.trainerImg {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.trainerImg img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.trainerContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trainerContent .role {
  color: #f9735b;
  font-size: 14px;
  font-weight: 500;
}

.trainerContent h3 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.trainerContent .description {
  color: darkgray;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcons a {
  text-decoration: none;
  color: #f9735b;
  font-size: 16px;
  list-style: none;
}

.contact {
  padding: 100px 0 0 0;
}

.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.contactHeader p {
  color: darkgrey;
}

.contactGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px 0 0 0;
  max-width: 100%;
  height: 600px;
  gap: 0;
}

.contactForm {
  background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}
.form {
  background-color: white;
  width: 90%;
  margin: 20px;
  padding: 20px;
}
.form > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactForm input,
.contactForm textarea {
  display: grid;
  width: 100%;
  resize: none;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.sendBtn {
  background-color: #f9735b;
  padding: 15px 25px;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.sendBtn:hover {
  background-color: #f4573b;
}
footer {
  padding: 30px 0;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .nav > button {
    display: none;
  }

  header {
    align-items: center;
  }
  .logo {
    font-size: 12px;
  }
  .bars {
    display: block;
    font-size: 40px;
  }
  .bars > li {
    list-style: none;
  }
  .heroContent h3 {
    font-size: 40px;
    text-align: center;
  }
  .heroContent > button {
    font-size: 16px;
  }
  .aboutGrids {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .adsContent {
    max-width: 100%;
    text-align: center;
    padding: 20px;
  }
  .adsContent h2 {
    font-size: 30px;
    margin-top: 70px;
  }
  .adsContent > button {
    font-size: 12px;
  }
  .SpecialCard {
    padding: 14px 18px;
  }
  .SpecialCard h2 {
    font-size: 16px;
  }
  .mainClasses {
    display: block;
  }
  .post {
    margin: 20px 0;
  }
  .postImg {
    width: 100%;
  }
  .postImg > img {
    width: 100%;
  }

  .tableRow {
    grid-template-columns: repeat(1, 1fr);
  }
  .tableCol {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .tableCol:last-child {
    border-bottom: none;
  }

  .scheduleTabs > ul {
    flex-wrap: wrap;
    gap: 10px;
  }
  .scheduleTable {
    font-size: 12px;
  }

  .trainerCards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .trainerCard {
    width: 90%;
    max-width: 400px;
  }

  .trainersSection {
    max-width: 90%;
  }

  .contactGrid {
    display: block;
    height: auto;
  }
  .contact,
  .contactGrid,
  .contactForm,
  .contactForm form {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .contactForm form {
    margin: 15px 20px;
    width: 90%;
    height: auto;
    padding: 18px;
  }

  .contactForm {
    width: 100%;
  }
  .contactForm > form {
    width: 100%;
  }

  .map {
    width: 100%;
  }
  .map iframe {
    width: 100% !important;
    height: 300px !important;
  }
}
